{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
  Add a post
{% endblock %}



{% block content %}
<center>
<h1>Publish new post</h1>
    {% include "form_snippets.html" with form=form btn_text='Post'%}
</center>
<style>
  *{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Gilroy;
    color: skyblue;
  }
  h1{
    color: black;
    padding: 30px;
  }
  .btn{
    margin-top: 20px;
    background-color: skyblue;
      border-radius: 20px;
      border: none;
      width: 130px;
      height: 26px;
      color: black;
  }
.form-text{
  display: none;
}
textarea{
    color: black;
    padding: 5px;
  border: none;
  background-color: lightgray;
  border-radius: 15px;
  outline: none;
  font-size: large;


}
input {
  font-size: large;
  padding: 10px;
  width: 31%;
  margin: 20px;
    color: black;
    border: none;
  background-color: lightgray;
  border-radius: 15px;
  outline: none;
}
.form-label{
  display: none;
}
</style>
{% endblock %}