{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
  Add a comment
{% endblock %}



{% block content %}
<center>
<h1>Publish new comment</h1>
    {% include "form_snippets.html" with form=form %}
</center>



<style>
  *{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Gilroy;
    color: skyblue;
  }
  .mb-3{
    display: flex;
    justify-content: center;
  }
  h1{
    color: black;
    padding: 30px;
  }
  .btn{
    margin-top: 20px;
    background-color: skyblue;
      border-radius: 20px;
      border: none;
      width: 130px;
      height: 26px;
      color: black;
  }
.form-text{
  display: none;
}
textarea{
    color: black;
    padding: 5px;
  border: none;
  background-color: lightgray;
  border-radius: 15px;
  outline: none;

}
input {
  padding: 5px;
  margin: 20px;
    color: black;
    border: none;
  background-color: lightgray;
  border-radius: 15px;
  outline: none;
}
.form-label{
  display: flex;
  align-items: center;
  margin-right: 30px;
}
</style>
{% endblock %}