{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

    <title>
      {% block title %}
        AC Django Project
      {% endblock %}
    </title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <main id="logged-in-menu">
      <div>
        {% include 'navbar.html' %}

      </div>


        {% block content %}

        {% endblock %}


      </div>
    </main>
    {% else %}
    <div class="logged-out-navbar">

      
      <a href="/accounts/signup">Registration</a>
      <a href="/accounts/login">Login</a>
    </div>
    <main id="logged-out-menu">
      {% bootstrap_messages %}
      {% block auth_content %}
        <h1>Authenticate</h1>
        <hr />
      {% endblock %}
    </main>
  {% endif %}
  </body>
</html>
