{% load static account socialaccount%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

    <title>
      {% block title %}
        Poster
      {% endblock %}
    </title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <main id="logged-in-menu">
      <div>
        {% include 'navbar.html' %}

      </div>


        {% block content %}

        {% endblock %}


      </div>
    </main>
    {% else %}

    <main id="logged-out-menu">

      {% block auth_content %}
        <h1>Authenticate</h1>
        <hr />
      {% endblock %}
    </main>
      {% endif %}
  </body>
</html>
