{% extends 'base.html' %}


{% block content %}
  <h1>Home</h1>
  <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Парадигматическая переписывается обеспечивает возвращайся океана моей даже безорфографичный правилами грустный заманивший назад предупреждал, страну все подзаголовок. Деревни алфавит, рекламных назад себя залетают вдали? Буквенных взобравшись но от всех сбить пояс путь великий его пустился океана имени заголовок, журчит, предупреждал безорфографичный переулка?</p>
  <p>
    {% now "Y-m-d" %}
  </p>
  {% with my_name="Alisher" %}
    <p>My name is {{ my_name|escape }}</p>
  {% endwith %}

  {{ books_ids }}

   {% verbatim %}
    <p>{{ this will not be interpreted as jinja code }}</p>
   {% endverbatim %}
{% endblock %}



{% block auth_content %}
<nav class="logged-out-navbar">

      
  <a class="reg" href="/accounts/signup">Registration</a>
  <a class="log" href="/accounts/login">Login</a>

</nav>

<style>
  [class="reg"] {
    text-decoration: none;
    font-size: x-large;
    position: absolute;
    top: 55%;
    left: 1%;
    color: lavenderblush;
  }
  [class="log"] {
    font-size: x-large;
    text-decoration: none;
    position: absolute;
    left: 1%;
    top: 45%;
    color: lavenderblush;
  }
</style>

  {% include 'monster.html' %}
{% endblock auth_content %}
