{% extends 'base.html' %}

{% block title %}
  Home page
{% endblock title%}

{% block content %}
TODO
{% endblock %}



{% block auth_content %}
<nav class="logged-out-navbar">

      
  <a class="reg" href="/accounts/signup">Registration</a>
  <a class="log" href="/users/login">Login</a>

</nav>

<style>
  [class="reg"] {
    text-decoration: none;
    font-size: x-large;
    position: absolute;
    top: 55%;
    left: 1%;
    color: lavenderblush;
    font-family: 'Courier New', Courier, monospace;
  }
  [class="log"] {
    font-size: x-large;
    text-decoration: none;
    position: absolute;
    left: 1%;
    font-family: 'Courier New', Courier, monospace;
    top: 45%;
    color: lavenderblush;
  }
</style>

  {% include 'monster.html' %}
{% endblock auth_content %}
