{% load static %}
<nav>
    <a href="{% url 'home_page' %}" data-bs-toggle="tooltip" data-bs-placement="top" >
        <i class="fa-brands fa-youtube"></i>Postwiter   
    </a>

    <a href="{% url 'home_page' %}" data-bs-toggle="tooltip" data-bs-placement="top" >
        <i class="fa-solid fa-house"></i>Home
    </a>

   <hr>

    <a href="{% url 'profile' %}" data-bs   -toggle="tooltip" data-bs-placement="top">
        <i class="fa-solid fa-user"></i>My profile
    </a> 

   
    <a href="{% url 'add_post' %}" data-bs-toggle="tooltip" data-bs-placement="top" >
        <i class="fa fa-plus" aria-hidden="true"></i>Post
    </a>
    
    <hr>
    <a href="{% url 'titles' %}" data-bs-toggle="tooltip" data-bs-placement="top" >
        <i class="fa fa-users" aria-hidden="true"></i>Titles
    </a>
    <a href="{% url 'account_logout' %}" data-bs-toggle="tooltip" data-bs-placement="top" >
        <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
    </a>
    


</nav>
<script src="https://kit.fontawesome.com/2cd012f75a.js" crossorigin="anonymous"></script>
<style>
    nav {
        height: 100vh;
        background-color: #333;
        width: 190px;
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 0 10px 10px 0;
    }
    nav a {
        font: roboto;
        font-size: 19px;
        padding: 15px;
        display: block;
        display: flex;
        justify-content: left;
        align-items: center;
        text-decoration: none;
        border-radius: 0 10px 10px 0;
        color: beige;
        letter-spacing: 0.1em;
        gap: 10px;
    }
    nav a:hover {
        background-color: #605f5f;
    }
    
    
    hr{
       margin: 10px;
    }

</style>