{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}
  {{ user.username }}
{% endblock %}

{% block content %}
<center>

  <h1>{{ user.username }} profile</h1>
  
  
  
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% if u_form.errors %}
    {% bootstrap_form_errors u_form %}
    {% endif %}
    {% if p_form.errors %}
      {% bootstrap_form_errors p_form %}
      {% endif %}
      
      {% bootstrap_form u_form %}
      
    <button class="btn btn-success" type="submit">{% translate "Update" %}</button>
  </form>
<hr/ style="background-color:#dedede;color:#dedede;border-width:0;height:1px">
{% for post in posts reversed  %}
    
<div class='container'>
  <div class="avtor">
    <small class='author'>{{ post.author }}</small>
    <small class="date">{{ post.created }}</small>
</div>
  <div class="icons">
  
    <a class="update" href="{% url 'update_post' post.id %}"><i class="fas fa-edit"></i></a>
    <a class="delete" href="{% url 'delete_post' post.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
  
  <a class="view" href="{% url 'post_details' post.id %}"><i class="fa-solid fa-eye"></i></a>
</div>
  <h2>{{ post.title|upper }}</h2>
  <p>{{ post.content }}</p>
</div>
  {% endfor %}

</center>
    


<style>
  
  *{
    color: black;
    font-family: 'Gilroy';
    padding: 0;
    margin: 0;
  }

    .icons{
      position: relative;
      left: 45%;
    }

    .date{
      font-size: 8px;
      color: gray;
    }
    .avtor{
display: flex;
align-items: center;
gap: 10px;
padding: 5px;
    }
    .author{
      font-size: 13px;
      color: #427877;

    }
    .container{
      display: flex;
      flex-direction: column;
    justify-content: center;
      text-align: center;
      background: #dedede;
      padding: auto;
      width: 50%;
      margin-bottom: 2%;
      border-radius: 10px;
      border-style: solid;
      border-color: skyblue;
      border-width: 4px;
  
    }

    p{
      line-height: 25px;
      width: 100%;
    }




  form{
    width: 40%;
    height: fit-content;
    background: #2c3e50;
    border-radius: 15px;
    padding: 45px;
    margin: 20px;
  
    border: 4px solid skyblue;
  }
  .mb-3{
    line-height: 33px;
  }
  form label{
    display: none;
  }
  .mb-3 input{
    padding: 5px;
    border-radius: 12px;
    border: none;
  }
  .form-text{
    color: skyblue;
  }
  .btn {
    margin-top: 30px;
    background-color: skyblue;
      border-radius: 20px;
      border: none;
      width: 130px;
      height: 26px;
  }
</style>
  {% endblock %}