{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load account socialaccount %}


{% block title %}
  Login
{% endblock %}


{% block auth_content %}
<center>

  <div class="container">
    <h1>Login</h1>
    <form action="{% url 'login' %}"  method="POST" class="form">
      {% csrf_token %}
      
      <div class="form-control">
        <label for="username">Username</label>
        <input id="username" type="text" placeholder="Username" />
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password" />
      </div>
      
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <div class="text-center">
      <a class="dark-blue-btn" href="{% provider_login_url 'google' %}">
        <i class="fab fa-google"></i>
        Google
      </a>
    </div>
  </div>
</center>
<style>
  * {
    transition: 0.2s;
    padding: 0;
    margin: 0;
    font-family: Gilroy;
color: bisque;
}
input {
    padding: 5px;
    border: none;
    background-color: lightgray;
    border-radius: 15px;
    outline: none;
}
input:focus {
    padding: 10px 25px;
    background-color: green;
    color: snow;
}
  form{
    width: 40%;
    height: 250px;
    background: #2c3e50;
    border-radius: 5px;
    padding: 25px;
    margin-top: 20px;
    border: 4px solid skyblue;
    
  }
  .dark-blue-btn {
    background-color: #2c3e50;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    top: -27px;
border: 4px solid skyblue;

  }
  .dark-blue-btn a {
    text-decoration: none;
    color:lightgrey;
  }
  .form-control{
    line-height: 60px;
    margin-top: 10px;
    margin-right: 70px;
}
  .btn{
    margin-top: 40px;
    background-color: skyblue;
    border-radius: 20px;
    border: none;
    width: 130px;
    height: 26px;
    color: black;
  }
  h1{
color: black;
  }
</style>
{% endblock %}
